/*SLY*/
/* Example wrapper */
.wrap {
	position: relative;
	margin: 3em 0;
}

/* Frame */
.frame {
	height: 250px;
	/*line-height: 250px;*/
	overflow: hidden;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
.frame ul li {
	float: left;
	width: 227px;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 0;
	background: #333;*/
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.frame ul li.active {
	color: #fff;
	background: #a03232;*/
}

/* Scrollbar */
.scrollbar {
	margin: 0 0 1em 0;
	height: 2px;
	background: #fff;
	line-height: 0;
}
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #aaa;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}

/* Pages */
.pages {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #666;
}

/* Controls */
.controls { margin: 15px 0; text-align: center; }

/* SLY - comentariosJack */
.comentariosJack {
	margin-top: 20px;
}
.comentariosJack .frame { height: 110px; /*line-height: 300px;*/ border-bottom: solid 5px #fff; }
.comentariosJack .frame ul li { width: 1140px; background: none; }
.comentariosJack .frame ul li.active { background: none; }
.comentariosJack .scrollbar {
	height: 5px;
	margin: 0;
}
.comentariosJack .frame ul {
	font-size: 24px;
}
.comentariosJack .frame ul li {
	text-align: left;
	padding-left: 450px;
}
.comentariosJack .circleLeft, .comentariosJack .circleRight {
	border-radius: 100px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 35px;
	font-size: 28px;
}
.comentariosJack .circleLeft {
	left: 20px;
}
.comentariosJack .circleRight {
	right: 20px;
}
