@import "iconStyle.css";

/*COLORES

Gris claro
#424242

Gris Obscuro
#212121

Cyan
#00ac8d

Verde
#a9d42c

Azul
#241a5d


*/

.cyan {color:#00ac8d}
.verde {color:#a9d42c}

.bgAzul {background:#241a5d !important; border: 0;}

html {
  position: relative;
  min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 460px;
}
body > .container {
    padding: 60px 15px 0;
}
a, .btn, span {
    transition: 0.3s;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 20px;
    text-align: justify;
    font-size: 18px;
}
h1 {
    text-transform: uppercase;
    font-size: 52px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0;
}
section {
    position: relative;
    text-align: center;
}
section:before {
    position: absolute;
    content:'';
}
/*MENU - MODAL*/
.navbar-nav > li {
    text-transform: uppercase;
    font-size: 16px;
}
.navbar-static-top {
    z-index: 2000;
}
.navbar-inverse {
    background: none;
    border: 0;
    margin-bottom: -60px;
    height: 60px;
    padding-top: 20px;
}
.search {
    background: none;
    color: #fff;
    border: 2px solid #ccc;
}
.searchIcon {
    color: #eee;
    font-size: 20px;
}
.btnMenu {
    background: none;
    color: #eee;
    font-size: 20px;
}
.btnMenu:hover, .btnMenu:active, .btnMenu:focus, .btnMenu:visited {
    color: #fff;
}
.btnMenu2 {
    background: none;
    color: #eee;
    font-size: 20px;
    display: none;
}
.btnMenu2:hover, .btnMenu2:active, .btnMenu2:focus, .btnMenu2:visited {
    color: #fff;
}
.btnMenuLogo {
    width: 30px;
    margin-top: -5px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ccc;
}
.navbar-inverse .navbar-nav > li > a > span {
    border-radius: 50px;
    border: 2px solid #ccc;
    padding: 8px;
}
.modal-dialog {
    margin: 50px auto;
}
.modal-content {
    background: #212121;
    color: #FFF;
}
.iconoSect {
    width: 200px;
    font-size: 70px;
}
.circulo {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 500px;
    z-index: 3;
    top: -25px;
    padding: 40px;
}
.tituloSections {
    margin-bottom: 100px;
}
.btn2 {
    padding: 10px 80px;
    text-transform: uppercase;
}
.btn-success {
    color: #fff;
    background-color: #a9d42c;
    border-color: #a9d42c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active:hover, .btn-success:visited, .btn-success.disabled:hover {
    color: #fff;
    background-color: #7fb915;
    border-color: #7fb915;
}
.btn-info {

}
.btn-info:hover, .btn-info:focus, .btn-info:active:hover, .btn-info:visited {

}
.btn-info2 {
    color: #00ac8d;
    background-color: #e0dddd;
    border-color: #2d1c7a;
}
.btn-info2:hover, .btn-info2:focus, .btn-info2:active:hover, .btn-info2:visited {
    color: #2d1c7a;
    background-color: #fff;
    border-color: #2d1c7a;
}
.btn-warning {
    color: #fff;
    background-color: #a9d42c;
    border-color: #a9d42c;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active:hover, .btn-warning:visited  {
    color: #fff;
    background-color: #7fb915;
    border-color: #7fb915;
}
.btn-danger {
    color: #fff;
    background-color: #fe0036;
    border-color: #fe0036;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active:hover, .btn-danger:visited  {
    color: #fff;
    background-color: #e80737;
    border-color: #e80737;
}

.text-success {
    color: #b6c42f !important;
}
.text-success:hover, .text-success:focus, .text-success:active:hover, .text-success:visited {
    color: #a5b325 !important;
}
.text-warning {
    color: #f8b107 !important;
}
.text-warning:hover, .text-warning:focus, .text-warning:active:hover, .text-warning:visited  {
    color: #eba807 !important;
}
.text-danger {
    color: #fe0036 !important;
}
.text-danger:hover, .text-danger:focus, .text-danger:active:hover, .text-danger:visited  {
    color: #e80737 !important;
}
.middle {
    vertical-align: middle;
}
.noP {
    padding: 0 !important;
}
.marginTop {
    margin-top: 20px;
}
.filaMenu {
    border-bottom: 1px solid #FFF;
    padding: 10px 0;
}
.filaMenu2 {
    padding: 10px 0;
}
.visible {
    opacity: 1;
}
.hidden {
    display: block !important;
    opacity: 0;
}
.form-control2 {
    background: none;
    color: #fff;
}
.addonIcon {
    background: none;
    color: #fff;
}
.logoMenu {
    width: 100px;
}
.novaOneMenu {
    margin-top: 20px;
}
.redesMenu {
    padding-top: 20px;
}
.redesMenu a {
    color: #fff;
    font-size: 30px;
    margin-left: 10px;
}


/* Sect 1 */
.sect1 {
    background: url("../img/portada.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #424242;
    height: 850px;
    padding: 0 20px;
    padding-top: 100px;
}
.sect1One {
    background: url("../img/portadaOne.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #424242;
    height: 850px;
    padding: 0 20px;
    padding-top: 100px;
}
.logo {
    width: 200px;
    margin-top: 50px;
}
.logosNova img {
    width: 300px;
    padding-top: 50px;
    margin: 0 auto;
}

/*sect2*/
.sect2 {
    background: #fff;
    width: 100%;
    color: #424242;
    padding: 0;
}
.sect2 .circulo {
    background: #a9d42c;
    color: #FFF;
    padding: 0;
}
.sect2 .separador {
    background: url('../img/separador.png') no-repeat top right;
    background-size: auto 100%;
    padding-right: 70px !important;
}
.sect2 ul.lista {
    list-style: none;
    font-size: 28px;
    margin-top: 50px;
}
.sect2 ul.lista li {
    padding-bottom: 20px !important;
    margin-bottom: 30px;
    background: url('../img/separador2.png') no-repeat bottom left;
    background-size: 80% 10px;
}
.sect2 ul.lista a {
    color: #474747;
}
.sect2 ul.lista a:hover {
    color: #33AD9A;
}
.sect2 ul.lista span {
    margin-right: 20px;
}


/*sect3*/
.sect3 {
    background: url("../img/sect3.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 100% !important; 
    color: #FFF;
    padding: 150px 0;
}
.sect3One {
    background: url("../img/sect3One.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #FFF;
    height: 850px;
    padding: 100px 0;
    padding-top: 200px;
}
.sect3 .verticalText {
	writing-mode:tb-rl;
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform:rotate(-180deg);
    transform: rotate(-180deg);
    white-space:nowrap;
    display:block;
    position: absolute;
    left: 0;
}
.sect3 .flechas1 {
    padding-left: 80px;
}
.sect3 .logoDapcom {
    max-width: 400px;
    margin: 0 auto;
}
.sect3 .cajas {
    height: 500px;
}
.paddingTop150 {
    padding-top: 150px;
}
.sect3One .iconOne {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 500px;
    z-index: 3;
    top: -25px;
    padding: 0px;
}
.sect3One h3 {
    text-align: left;
    margin-bottom: 30px;
}
.sect3One .separador {
    padding: 20px 20px;
    background-color: rgba(122, 115, 164, 0.2);
    border-right: 5px solid #7a73a4;
    height: 300px;
}
.sect3One .listaOne {
    list-style: none;
    text-align: left;
    font-size: 18px;
    padding-left: 0;
}
.sect3One .listaOne li {
    border-bottom: 1px solid #7a73a4;
}
.sect3 .circulo {
    background: #a9d42c;
    color: #fff;
}
.sect3 h1 small {
    color: #FFF;
    font-weight: lighter;
}

/*sect4*/
.sect4 {
    background: #424242;
    color: #FFF;
    padding-bottom: 50px;
}
.sect4 .girl {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 350px;
}
.paddingTop50 {
    padding-top: 50px;
}
.sect4 ul.lista {
    font-size: 16px;
    list-style: none;
}
.sect4 ul.lista li {
    margin-bottom: 10px;
}
.sect4 ul.lista span {
    margin-right: 15px;
}
.sect4One {
    background: #424242;
    color: #FFF;
    padding: 0;
    padding-top: 50px;
}
.sect4One h1 {
    color: #a9d42c;
    text-transform: none;
    font-weight: 300;
}
.sect4One .espacioCirculo {
    height: 250px;
    padding: 0;
}
.sect4One .tituloCirculo {
    color: #424242;
    position: absolute;
    z-index: 3000;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.sect4One .tituloCirculo strong {
    color: #00ac8d;
    font-weight: bold;
}
.sect4 .corteBajo {
    background: url("../img/sect4.jpg") no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 240px;
    color: #424242;
}
.sect4One .corteBajoOne {
    background: url("../img/sect4One.jpg") no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 1px;
    width: 100%;
    height: 231px;
    color: #424242;
}
.sect4One .separador {
    border-right: 20px solid #a9d42c;
}
.sect4One .circuloPunta {
    background: #a9d42c;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    right: -35px;
    top: -5px;
    position: absolute;
}
.sect4One .circuloPuntaAbajo {
    top: auto;
    bottom: -5px;
}
.sect4One .circuloPuntaAbajo2 {
    top: auto;
    bottom: -5px;
    display: none;
}
.sect4One .circuloVerde {
    background: #a9d42c;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    right: 30px;
    top: 105px;
    position: absolute;
}
.sect4One .circuloVerde2 {
    right: 60px;
}
.sect4One .circuloBlanco {
    background: #FFF;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    right: -40px;
    top: 85px;
    border: 10px solid #00ac8d;
    position: absolute;
}
.sect4One .tiraCirculosR .circuloVerde {
    right: auto;
    left: 30px;
}
.sect4One .tiraCirculosR .circuloVerde2 {
    right: auto;
    left: 60px;
}
.sect4One .tiraCirculosR .circuloBlanco {
    right: auto;
    left: -40px;
    top: 85px;
}
.sect4One .circuloImgLeft {
    justify-content: flex-end;
}
.sect4One .circuloImgRight {
    justify-content: left;
}
.sect4 .circulo {
    background: #a9d42c;
    color: #FFF;
}
.sect4 .imgCirculo {
    width: 50px;
}
.sect4 .textLista {
    font-weight: normal;
    font-size: 22px;
    margin-left: 30px;
}


/*sect5*/
.sect5 {
    background: #fff;
    width: 100%;
    color: #424242;
    padding: 100px 0;
}
.sect5 .circulo {
    background: #a9d42c;
    color: #FFF;
}
.sect5 img {
    margin: 0 auto;
}
.sect5One {
    padding-bottom: 0;
}
.sect5One {
    height: auto;
    text-align: justify;
}
.sect5One ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 20px;
}
.sect5One ul li span {
    margin-right: 20px;
}
.sect5One .corteBajoOne {
    background: url("../img/corteBajoOne.jpg") no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 240px;
    color: #424242;
}



/*sect6*/

.sect6 {
    background: url("../img/sect6.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #fff;
    height: 850px;
    padding-top: 270px;
}
.sect6One {
    background: url("../img/sect6One.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #fff;
    height: 850px;
    padding-top: 270px;
}
.sect6 .circulo {
    background: #a9d42c;
    color: #fff;
}


/*sect7*/
.sect7 {
    background: #fff;
    width: 100%;
    color: #424242;
    height: 400px;
    padding: 0;
    padding-top: 30px;
}
.sect7 .circulo {
    background: #a9d42c;
    color: #fff;
}


/*sect8*/

.sect8 {
    background: url("../img/sect8.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #fff;
    padding: 200px 0;
}
.sect8 .separador {
    background: url('../img/separador3.png') no-repeat top right;
    background-size: auto 100%;
    padding-right: 70px !important;
}
.sect8 .circulo {
    background: #a9d42c;
    color: #fff;
}
.sect8 .teamViewer {
    background: rgba(255, 255, 255, 0.6);
    padding: 30px;
    border-radius: 20px;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}









/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 460px;
}
.footerContent {
    height: 400px;
    background: #424242;
    color: #fff;
}
.footer {
    padding: 20px;
    height: 60px;
    background: #212121;
    font-size: 12px;
}







/* RESPONSIVE *****************************************/
/* Entre que 320px y 460px */
@media screen and (min-width: 300px) and (max-width: 360px) {
    .sect4One .grid {
        padding: 0 0em !important;
    }
}
/* Menores que 767px */
@media screen and (max-width: 767px) {
    body {

    }
    footer {

    }
    h1 {

    }
    h1 small {
        color: #FFF;
        font-weight: lighter;
        display: block;
    }
    .navbar-inverse, .navbar-collapse {
        background: #212121;
    }
    .searchIcon {
        margin-left: 10px;
        margin-top: 8px;
    }
    .modal {
        top: 20px;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 5px;
        float: left;
    }
    .navbar-nav {
        margin: 10px 0 0 -10px;
    }
    .navbar-inverse {
        padding-top: 0;
    }
    .btnMenu {
        display: none;
    }
    .btnMenu2 {
        display: block;
        float: right;
        padding: 8px 5px;
        margin-top: -45px;
    }
    .iconoSect {
        width: 100px;
        font-size: 50px;
    }
    .circulo {
        width: 100px;
        height: 100px;
        top: -120px;
        padding: 20px;
    }
    .filaMenu img {
        width: 50px;
    }
    .logoMenu {
        width: 200px;
    }
    .redesMenu {
        padding-top: 5px;
        text-align: center;
    }
    .row {
        margin: 0;
    }
    .tituloSections {
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
    }
    p {
        font-size: 14px;
    }
    .sect3One {
        height: auto;
        padding: 200px 0;
    }
    .sect3One .separador {
        height: auto;
        margin-top: 10px;
    }
    .sect3One .listaOne {
        font-size: 14px;
    }
    .sect3One .iconOne {
        width: 70px;
        top: -45px;
    }
    .sect4 .textLista {
        font-weight: normal;
        font-size: 16px;
        margin-left: 10px;
    }
    .sect4One {
        padding-top: 0;
    }
    .sect4One .corteBajoOne {
        height: 100px;
    }
    .sect4One .espacioCirculo {
        height: auto;
        margin: 5px 0;
    }
    .sect4One .separador {
        border-right: 0;
        border-left: 20px solid #a9d42c;
    }
    .sect4One .separador2 {
        border-right: 0;
        border-left: 20px solid #a9d42c;
    }
    .sect4One .circuloPunta {
        right: auto;
        left: -35px;
    }
    .sect4One .circuloImgLeft {
        justify-content: left;
    }
    .sect4One .circuloBlanco {
        right: auto;
        left: -55px;
    }
    .sect4One .tiraCirculosR .circuloBlanco {
        left: -55px;
    }
    .sect4One .circuloVerde {
        right: auto;
        left: 10px;
    }
    .sect4One .tiraCirculosR .circuloVerde {
        left: 10px;
    }
    .sect4One .circuloVerde2, .sect4One .circuloPuntaAbajo {
        display: none;
    }
    .sect4One .circuloPuntaAbajo2 {
        display: block;
    }
    .sect4One .grid {
        padding: 0 2em;
    }
    ul {
        padding: 0;
    }
    ul li {
        font-size: 14px;
    }
}

/* Entre que 320px y 460px */
@media screen and (min-width: 300px) and (max-width: 460px) {

}

/* Entre 768px y 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    

}

/* Entre 768px y 1024px - PANORAMICA (Horizontal) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

}


/* Mayor a 992px */
@media screen and (min-width: 992px) {

}
